.cncf img {
    max-width: 650px;
}

.cncf h3 {
    font-size: 1.5rem;
}

.cncf .logoLight {
  display: none;
}

:global(html[data-theme='light']) .cncf .logoDark {
  display: none;
}

:global(html[data-theme='light']) .cncf .logoLight {
  display: block;
}