.details {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.buttons a {
  --ifm-button-size-multiplier: 1.2;
  width: 200px;
  max-width: 100%;
}

@media screen and (min-width: 420px) and (max-width: 767px) {
  .buttons {
    display: grid;
    align-content: center;
    grid-template:
      'a b' auto
      'c d' auto / 1fr 1fr;
    width: max-content;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .details {
    flex-direction: row;
  }

  .buttons {
    flex-direction: column;
    justify-content: start;
  }
}
