.postItem {
  position: relative;
  background-color: var(--ifm-background-color);
  border: 1px solid var(--ifm-color-emphasis-100);
  border-radius: var(--ifm-global-radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s ease;
}

.text {
  display: flex;
  flex-direction: column;
  padding: var(--ifm-spacing-md);
  flex-grow: 1;
}

.image {
  width: 100%;
  aspect-ratio: 2 / 1.05;
  object-fit: cover;
}

.meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ifm-spacing-md);
  margin-top: auto;
}

.title {
  font-size: 1.6rem;
}

.title a {
  color: var(--ifm-heading-color);
  text-decoration: none;
}

.title a:after {
  position: absolute;
  content: '';
  inset: 0;
}

.postItem:has(.title a:hover) {
  background-color: var(--ifm-color-emphasis-100);
}

.info {
  margin-top: auto;
}

.info :global(.margin-vert--md) {
  margin: 0 !important;
}

.meta {
}

.meta .authors {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.meta .authors :global(.avatar) {
  margin-bottom: 0 !important;
}

.meta .authors :global(.avatar__name) {
  font-weight: 400;
  font-size: 0.9rem;
}

.meta .authors :global(.avatar__photo) {
  width: 1.2em;
  height: auto;
}

.meta .authors :global(.avatar__subtitle) {
  display: none;
}

.separator {
  display: block;
  width: 1px;
  height: 1.5em;
  margin: -0.25em 0;
  transform: rotate(10deg);
  background-color: var(--ifm-color-emphasis-300);
}

.content {
  display: none;
  margin-top: var(--ifm-spacing-lg);
}

:global(.has-sidebar) .content {
  display: block;
}
