.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: 1.5rem;
  align-items: start;
}

.content[data-active='false'] {
  display: none;
}

.heading {
  grid-column-start: 1;
  grid-column-end: 2;
}

.contentCopy {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.1rem;
}

.feature :global(h5) {
  color: inherit;
  font-size: 1.25rem;
  line-height: 1.2em;
  margin: 0;
}

.feature :global(p) {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  position: sticky;
  top: var(--ifm-navbar-height);
  gap: 0.2rem;
  padding: 34px 0;
  width: calc(100% + 2rem);
  margin: 0 -1rem;

  &:before {
    z-index: 0;
    content: '';
    inset: 0;
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      color(from var(--section-color-background) srgb r g b / 0.7) 0%,
      color(from var(--section-color-background) srgb r g b / 0) 100%
    );
    backdrop-filter: blur(10px);
    mask: linear-gradient(
      to bottom,
      rgb(0 0 0 / 1) 0%,
      rgb(0 0 0 / 1) 50%,
      rgb(0 0 0 / 0.9) 75%,
      rgb(0 0 0 / 0) 100%
    );
  }
}

.button {
  position: relative;
  --ifm-button-border-width: 1px;
  --ifm-button-size-multiplier: 0.8;
  --ifm-button-font-weight: 600;
}

.icon {
  opacity: 0;
  position: absolute;
  height: 62%;
  width: auto;
  transition: all 0.2s ease-in-out;
}

.build {
  top: -50%;
  right: -40%;
  transform: rotate(18deg) scale(0.8) translate(-20%, 20%);
}

[data-active='true'] .build {
  opacity: 1;
  transform: rotate(18deg) scale(1) translate(0);
}

.compose {
  bottom: -58%;
  right: -18%;
  transform: rotate(0deg) scale(0.8);
}

[data-active='true'] .compose {
  opacity: 1;
  transform: rotate(9deg);
}

.run {
  top: -50%;
  right: -40%;
  transform: rotate(9deg) translate(-20%, -3%);
}

[data-active='true'] .run {
  opacity: 1;
  transform: rotate(9deg) translate(0);
}

@media screen and (min-width: 375px) {
  .button {
    --ifm-button-border-width: 2px;
    --ifm-button-size-multiplier: 1.2;
    --ifm-button-font-weight: 500;
  }
}

@media screen and (min-width: 576px) {
  .list {
    gap: 0.625rem;
  }

  .button {
    --ifm-button-border-width: 2px;
    --ifm-button-size-multiplier: 1.65;
    --ifm-button-font-weight: 500;
  }
}

@media screen and (min-width: 800px) {
  .list {
  }

  .heading {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .content {
    grid-template-columns: 5fr 7fr;
  }
}

@media screen and (min-width: 997px) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }
}
