.features {
    display: flex;
    padding: 60px 30px;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    align-self: stretch;
}

.featuresContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 90px;
}

.featureSvg {
  max-width: 250px;
}

.featureText {
  max-width: 550px;
}

.featureRow {
    display: flex;
    align-items: center;
    gap: 60px;
}
