.features {
    display: flex;
    padding: 60px 30px;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    align-self: stretch;
}

.featuresContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 90px;
}

/* FeatureImageComponent */
.featureSvg {
  max-width: 250px;
}

 /* FeatureTextComponent */
.featureText {
  max-width: 550px;
}

/* Feature */
.featureRow {
    display: flex;
    align-items: center;
    gap: 60px;
    @media screen and (min-width: 200px) {
        flex-direction: column;
    }
    @media only screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.frImageFirst {
    @media screen and (min-width: 768px) {
        flex-direction: row-reverse;
    }
}
