.featuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureSvg {
  max-width: 38%;
}

.featureRow {
  display: flex;
  align-items: center;
  padding: var(--ifm-spacing-xs);
  flex-direction: column;
  gap: var(--ifm-spacing-lg);
}

@media screen and (min-width: 200px) {
  .featureRow {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 576px) {
  .featuresContainer {
    padding: var(--ifm-spacing-xl) 0;
    gap: var(--ifm-spacing-xl);
  }

  .featureRow {
    gap: var(--ifm-spacing-xl);
  }
}

@media only screen and (min-width: 996px) {
  .featuresContainer {
    padding: var(--ifm-spacing-xl);
    gap: var(--ifm-spacing-xl);
  }

  .featureSvg {
    max-width: 16rem;
  }

  .featureText {
    max-width: 32rem;
  }

  .featureRow {
    flex-direction: row;
  }

  .frImageLast {
    flex-direction: row-reverse;
  }
}
