.postItem {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--ifm-spacing-lg);
}

.text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.text img {
  width: auto;
  height: auto;
  max-height: 300px;
}

.title {
  font-size: 1.6rem;
}

.title a {
  color: var(--ifm-heading-color);
  text-decoration: none;
}

.viewMore {
  font-size: 0.9rem;
}
