{{ define "main" }}

<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-10">
        <p class="h4 font-weight-bold mt-50 mb-20">This Privacy policy was published on <span class="text-primary">{{.PublishDate.Format "06 January, 2006"}}</span></p>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}