.title {
  color: var(--ifm-heading-color);
  font-size: 3rem;
  margin: 2rem 0;
}

.description {
  font-size: 1.2rem;
  margin: 4rem 0;
  color: var(--ifm-heading-color);
  opacity: 0.8;
}

.description a {
  color: inherit;
  text-decoration: underline;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--ifm-spacing-lg);
  column-gap: var(--ifm-spacing-md);
  margin-bottom: var(--ifm-spacing-xl);
}

.items > * {
  grid-column: span 2;
}

.paginator :global(.pagination-nav__link) {
  padding: 0;
  border: none;
}

@media screen and (min-width: 576px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .items:not(:global(.has-sidebar)) > * {
    grid-column: span 1;
  }
}

@media screen and (min-width: 997px) {
  .header {
    margin: var(--ifm-spacing-xl) 0;
  }

  .title {
    font-size: 4rem;
    margin: 5rem 0 6rem;
  }

  .description {
    font-size: 1.2rem;
    margin: 4rem 0;
  }
}
