.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 3rem;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.item h4 {
  color: inherit;
  font-size: 1.7rem;
  font-family: var(--wasmcloud-font-heading);
  font-weight: 500;
}

.item img :global(#alttext-image) {
  display: none;
}

.item :last-child {
  margin-top: auto;
}

@media screen and (min-width: 800px) {
  .content {
    flex-direction: row;
  }
}
