.tag {
  font-family: var(--wasmcloud-font-base);
  color: transparent;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    var(--section-color-foreground) 0%,
    var(--section-color-highlight) 100%
  );
  background-color: var(--section-color-foreground);
}
