:root {
  --loader-background: #111;
  --loader-primary: #333;
  --loader-secondary: #00bc8e;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--loader-background);
}

.loader::after {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid var(--loader-primary);
  border-top: 5px solid var(--loader-secondary);
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
