.heading span:first-child {
  position: relative;
}

.heading span:not(:first-child) {
  position: relative;
  padding-right: 2.5rem;
  white-space: nowrap;
}

.heading span svg {
  bottom: -30%;
  right: 0;
}

.content h4 {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .heading span svg {
    padding-right: 0;
    bottom: 60%;
  }
}
