*:focus {
  outline: 2px solid var(--wasmcloud-color-brand-green);
}

h4,
h5 {
  letter-spacing: 0.02em;
}

.main-wrapper {
  background-image: radial-gradient(
      ellipse 50% 50vh at 50% -10vh,
      color(from var(--ifm-bg-gradient-glow) srgb r g b / 0.5) 0%,
      color(from var(--ifm-bg-gradient-glow) srgb r g b / 0.4) 33%,
      color(from var(--ifm-bg-gradient-glow) srgb r g b / 0.15) 66%,
      color(from var(--ifm-bg-gradient-glow) srgb r g b / 0) 100%
    ),
    linear-gradient(to bottom, var(--ifm-bg-gradient-start) 0%, var(--ifm-bg-gradient-end) 80vh);
}
