/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --wasmcloud-code-highlight-hue: 180;
  --wasmcloud-code-diff-add-hue: 145;
  --wasmcloud-code-diff-remove-hue: 5;

  --wasmcloud-color-base-brand-green: 0 188 142; /* #00bc8e; */
  --wasmcloud-color-brand-green: rgba(var(--wasmcloud-color-base-brand-green) / 1);
  --wasmcloud-color-base-brand-green-dark: 0 128 89; /* #008059; */
  --wasmcloud-color-brand-green-dark: rgba(var(--wasmcloud-color-base-brand-green-dark) / 1);
  --wasmcloud-color-base-brand-gray: 120 133 145; /* #788591; */
  --wasmcloud-color-brand-gray: rgba(var(--wasmcloud-color-base-brand-gray) / 1);
  --wasmcloud-color-base-brand-yellow: 255 182 0; /* #ffb600; */
  --wasmcloud-color-brand-yellow: rgba(var(--wasmcloud-color-base-brand-yellow) / 1);
  --wasmcloud-color-base-brand-space-blue: 0 46 93; /* #002e5d; */
  --wasmcloud-color-brand-space-blue: rgba(var(--wasmcloud-color-base-brand-space-blue) / 1);
  --wasmcloud-color-base-brand-space-blue-light: 0 87 153; /* #005799; */
  --wasmcloud-color-brand-space-blue-light: rgba(
    var(--wasmcloud-color-base-brand-space-blue-light) / 1
  );
  --wasmcloud-color-base-brand-gunmetal: 37 55 70; /* #253746; */
  --wasmcloud-color-brand-gunmetal: rgba(var(--wasmcloud-color-base-brand-gunmetal) / 1);
  --wasmcloud-color-base-brand-gainsboro: 217 225 226; /* #d9e1e2; */
  --wasmcloud-color-brand-gainsboro: rgba(var(--wasmcloud-color-base-brand-gainsboro) / 1);
  --wasmcloud-color-brand-white: #ffffff;
  --wasmcloud-color-brand-black: #000000;

  --wasmcloud-color-text-primary: var(--wasmcloud-color-brand-black);
  --wasmcloud-color-text-secondary: var(--wasmcloud-color-brand-gray);

  --wasmcloud-color-inverted-text-primary: var(--wasmcloud-color-brand-white);
  --wasmcloud-color-inverted-text-secondary: var(--wasmcloud-color-brand-gray);

  --wasmcloud-font-base: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --wasmcloud-font-heading: 'Lexend', 'Futura', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --wasmcloud-font-hand: 'Caveat', cursive;

  /* section colors */
  --section-color-foreground: var(--ifm-font-color-base);
  --section-color-background: unset;
  --section-color-highlight: var(--ifm-color-primary-light);

  --section-button-background: var(--ifm-color-primary-light);
  --section-button-color: var(--ifm-font-color-base-inverse);
  --section-button-hover-background: oklch(
    from var(--section-button-background) calc(l * 0.9) c h / 1
  );
  --section-button-hover-color: var(--section-button-color);

  /* infima setup */
  --ifm-code-font-size: 95%;
  --ifm-spacing-xs: 0.25rem;
  --ifm-spacing-sm: 0.5rem;
  --ifm-spacing-md: 1rem;
  --ifm-spacing-lg: 2rem;
  --ifm-spacing-xl: 5rem;
  --ifm-font-family-base: var(--wasmcloud-font-base);
  --ifm-container-width: 1200px;
  --ifm-container-width-xl: var(--ifm-container-width);

  /* button styles */
  --ifm-button-background-color: var(--wasmcloud-color-brand-green);
  --ifm-button-border-color: var(--ifm-button-background-color);
  --ifm-button-border-width: 1px;
  --ifm-button-border-radius: 9999px;
  --ifm-button-color: var(--wasmcloud-color-brand-space-blue);
  --ifm-button-font-weight: 500;
  --ifm-button-padding-horizontal: 1rem;
  --ifm-button-padding-vertical: 0.375rem;
  --ifm-button-size-multiplier: 1;

  /* navbar styles */
  --ifm-navbar-shadow: none;

  /* heading styles */
  --ifm-heading-font-family: var(--wasmcloud-font-heading);
  --ifm-heading-font-weight: 650;

  /* footer styles */
  --ifm-footer-padding-horizontal: 0;
  --ifm-footer-padding-vertical: calc(var(--ifm-spacing-vertical) * 2);
  --ifm-footer-logo-max-width: min(30rem, 90vw);

  /* announcement bar */
  --announcement-bar-color-background: var(--wasmcloud-color-brand-green);
  --announcement-bar-color-text: var(--wasmcloud-color-brand-space-blue);
  --announcement-bar-color-border: var(--wasmcloud-color-brand-green);
}

/* You can override the default Infima variables here. */
html[data-theme='light'] {
  --ifm-color-primary: #008059;
  --ifm-color-primary-dark: #00c389;
  --ifm-color-primary-darker: #00c389;
  --ifm-color-primary-darkest: #00c389;
  --ifm-color-primary-light: #00c389;
  --ifm-color-primary-lighter: #00c389;
  --ifm-color-primary-lightest: #00c389;
  --docusaurus-highlighted-code-line-bg: rgba(0, 195, 137, 0.2);
  --ifm-menu-color-active: #155642;
  --ifm-font-color-base-inverse: #fff;
  --ifm-background-color: #ffffff;
  --ifm-heading-color: var(--wasmcloud-color-brand-space-blue);
  --ifm-footer-background-color: #081317;
  --ifm-footer-color: var(--ifm-color-emphasis-600);
  --ifm-footer-link-color: var(--ifm-color-emphasis-300);
  --ifm-footer-link-hover-color: var(--ifm-color-primary-lightest);
  --ifm-footer-link-horizontal-spacing: 0.5rem;
  --ifm-footer-title-color: var(--ifm-color-emphasis-300);
  --wasmcloud-code-highlight: hsl(var(--wasmcloud-code-highlight-hue), 100%, 95%);
  --wasmcloud-code-diff-add: hsl(var(--wasmcloud-code-diff-add-hue), 50%, 55%);
  --wasmcloud-code-diff-add-bg: hsl(var(--wasmcloud-code-diff-add-hue), 100%, 95%);
  --wasmcloud-code-diff-remove: hsl(var(--wasmcloud-code-diff-remove-hue), 50%, 55%);
  --wasmcloud-code-diff-remove-bg: hsl(var(--wasmcloud-code-diff-remove-hue), 100%, 95%);
  --ifm-navbar-background-color: var(--wasmcloud-color-brand-white);
  --ifm-toc-border-color: none;
  --ifm-menu-color: var(--ifm-font-color-base);
  --ifm-bg-gradient-glow: oklch(from var(--wasmcloud-color-brand-green) 0.9 c h / 0.7);
  --ifm-bg-gradient-start: oklch(from var(--wasmcloud-color-brand-green) 1 c h / 0.5);
  --ifm-bg-gradient-end: var(--ifm-background-color);
  --announcement-bar-color-background: oklab(from var(--wasmcloud-color-brand-green) 0.9 a b / 1);
  --announcement-bar-color-text: var(--wasmcloud-color-brand-space-blue);
  --announcement-bar-color-border: oklab(from var(--wasmcloud-color-brand-green) 0.9 a b / 1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #00c389;
  --ifm-color-primary-dark: #00c389;
  --ifm-color-primary-darker: #00c389;
  --ifm-color-primary-darkest: #00c389;
  --ifm-color-primary-light: #00c389;
  --ifm-color-primary-lighter: #00c389;
  --ifm-color-primary-lightest: #0c2027;
  --docusaurus-highlighted-code-line-bg: rgba(0, 195, 137, 0.2);
  --wasmcloud-code-highlight: hsl(var(--wasmcloud-code-highlight-hue), 100%, 13%);
  --wasmcloud-code-diff-add: hsl(var(--wasmcloud-code-diff-add-hue), 100%, 75%);
  --wasmcloud-code-diff-add-bg: hsl(var(--wasmcloud-code-diff-add-hue), 100%, 12%);
  --wasmcloud-code-diff-remove: hsl(var(--wasmcloud-code-diff-remove-hue), 100%, 75%);
  --wasmcloud-code-diff-remove-bg: hsl(var(--wasmcloud-code-diff-remove-hue), 100%, 12%);
  --ifm-heading-color: var(--wasmcloud-color-brand-gainsboro);
  --ifm-menu-color-active: #00c389;
  --ifm-background-color: #000000;
  --ifm-background-surface-color: #081317;
  --ifm-footer-background-color: #081317;
  --ifm-footer-color: var(--ifm-color-emphasis-400);
  --ifm-footer-title-color: var(--ifm-color-emphasis-800);
  --ifm-footer-link-color: var(--ifm-color-emphasis-800);
  --ifm-footer-link-hover-color: var(--ifm-color-primary);
  --ifm-font-color-base-inverse: #000;
  --ifm-navbar-background-color: var(--wasmcloud-color-brand-black);
  --docsearch-modal-background: #000;
  --ifm-toc-border-color: none;
  --ifm-bg-gradient-glow: var(--wasmcloud-color-brand-green);
  --ifm-bg-gradient-start: var(--wasmcloud-color-brand-space-blue);
  --ifm-bg-gradient-end: var(--ifm-background-color);
}
