:root {
  --hero-heading-font-family: var(--wasmcloud-font-heading);
  --hero-heading-font-size: clamp(2.9rem, 9.5vw, 9rem);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding-top: var(--ifm-navbar-height);
  background-image: radial-gradient(
      ellipse 50% 80% at 50% 0%,
      rgba(var(--wasmcloud-color-base-brand-green) / 0.5) 0%,
      rgba(var(--wasmcloud-color-base-brand-green) / 0.4) 33%,
      rgba(var(--wasmcloud-color-base-brand-green) / 0.2) 66%,
      rgba(var(--wasmcloud-color-base-brand-green) / 0) 100%
    ),
    linear-gradient(to bottom, var(--wasmcloud-color-brand-space-blue), rgba(0 11 23 / 1));
}

.hero *::selection {
  background-color: var(--wasmcloud-color-brand-green);
  color: var(--wasmcloud-color-brand-space-blue);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 20px 90px;
  text-align: center;
  color: var(--wasmcloud-color-brand-white);
}

.content h1 {
  color: inherit;
  position: relative;
  font-size: var(--hero-heading-font-size);
  line-height: 0.9em;
  font-family: var(--hero-heading-font-family);
  margin: 0 0 2rem;
}

.content h1 span {
  position: relative;
  display: inline-block;
}

.content p {
  position: relative;
  font-size: clamp(0.9rem, 2.3vw, 2.2rem);
  line-height: 1.2em;
  font-family: var(--wasmcloud-font-base);
  font-weight: normal;
  margin: 0 0 5rem;
}

.content p span {
  position: relative;
  display: inline-block;
}

.content .callout {
  position: absolute;
  right: -30%;
  bottom: -175%;
  font-size: 1.35em;
  width: fit-content;
  white-space: nowrap;
  transform: rotate(-9deg);
  font-family: var(--wasmcloud-font-hand);
  color: var(--wasmcloud-color-brand-green);
}

.img {
  position: absolute;
  height: auto;
}

.img.sparkles {
  top: -15%;
  right: -7%;
  width: 7%;
}

.img.flare {
  bottom: -40%;
  left: -8%;
  width: 9%;
}

.img.underline {
  bottom: -50%;
  right: 0;
  width: 77%;
}

.img.arrow {
  top: -77%;
  left: 40%;
  width: 32%;
  transform: rotate(34deg);
}

@media (min-width: 576px) {
  .content .callout {
    left: 100%;
    bottom: -100%;
  }

  .img.arrow {
    transform: rotate(25deg);
    top: -70%;
    left: 5%;
  }
}
