{{ define "main" }}

<section class="section-padding">
  <div class="container">
    <div class="row no-gutters" data-aos="fade-in" data-aos-delay="150">
      <div class="col-lg-3 col-md-4 mt-2 mt-lg-0 d-none d-md-block">
        <ul id="navbar-spy" class="nav flex-column tabs-navbar position-sticky">
          {{ range .Params.sidelist }}
          <li class="nav-item">
            <a class="nav-link h5 font-weight-600 px-0 py-4 border-bottom smooth-scroll"
              href="#{{ replace . `.` `` | urlize}}">{{ . }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-8 col-md-8 border-left border-md-0">
        <div class="content content-active pl-0 pl-md-4 ml-0 ml-md-2">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}