.modal {
  --timing: 250ms;
  opacity: 0;
  visibility: hidden;
  /* display: block; */
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(from var(--wasmcloud-color-brand-green) r g b / 0.8);
  backdrop-filter: blur(5px);
  transition: opacity var(--timing) ease-in-out 1ms, visibility var(--timing) ease-in-out 1ms;
}

.modal[data-open='true'] {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--timing) ease-in-out 1ms, visibility var(--timing) ease-in-out 1ms;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc((2rem - 24px) / 2);
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  color: var(--wasmcloud-color-brand-gainsboro);
  background-color: var(--wasmcloud-color-brand-gunmetal);
  border: 2px solid var(--wasmcloud-color-brand-green);
  border-radius: 50%;
}

.closeButton svg {
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
}
