/*
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.homepage {
  background-color: var(--homepage-background-color);
}

.heroBanner {
  text-align: left;
  position: relative;
  overflow: hidden;
  background: var(--header-hero-background);
  color: var(--ifm-font-color-base);
}

.heroItems {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding: var(--ifm-spacing-lg) 0;
}

.heroGraphic {
  flex: 1;
  justify-content: right;
  display: block;
  max-height: 62vh;
}

.heroText {
  flex: 1;
  text-align: left;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroButton {
  margin: 3rem 0 0;
}

.button {
  --ifm-button-background-color: var(--ifm-color-primary-lightest);
  --ifm-button-color: var(--ifm-button-border-color);
  --ifm-button-border-color: var(--ifm-font-color-base);
  --ifm-button-border-width: 2px;
}

.button:hover {
  --ifm-button-background-color: var(--ifm-button-border-color);
}

.button:hover,
.button:active,
.button.button--active {
  --ifm-button-color: var(--ifm-font-color-base-inverse);
}

.hero {
  background: var(--header-hero-background);
}

.navbar {
  background-color: var(--navbar-background-color);
  box-shadow:
    0px 1px 0px 0px rgba(0, 0, 0, 0.5),
    0px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 200px) {
  .heroBanner {
    padding: var(--ifm-spacing-sm) var(--ifm-spacing-xs);
  }

  .heroItems {
    flex-direction: column;
  }

  .heroText {
    padding: 1rem 0rem;
    & h1 {
      font-size: 2rem;
    }
    & p {
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 400px) {
  .heroText {
    & h1 {
      font-size: 3rem;
    }
    & p {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 576px) {
  .heroBanner {
    padding: var(--ifm-spacing-lg) var(--ifm-spacing-md);
  }

  .heroGraphic {
    padding: 0rem 2rem 1rem;
    & img {
      max-height: 100%;
    }
  }
}

@media only screen and (min-width: 996px) {
  .heroItems {
    flex-direction: row;
    align-items: flex-end;
  }
  .heroGraphic {
    padding: 0rem 1.5rem 3rem;
    & img {
      max-height: 100%;
    }
  }
  .heroText {
    & h1 {
      font-size: 3rem;
    }
    & p {
      font-size: 1.5rem;
    }
    padding: 3rem;
  }
}
