{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- start footer -->
<footer class="bg-light-gray has-shapes has-bg-brash bg-brash-top "
  style="background-image: url('{{`images/brushes/footer.svg` | absURL}}')">
  <div class="container">
    {{ if $data.homepage.call_to_action.enable }}
    {{ with $data.homepage.call_to_action }}
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-12">
        <div class="text-center pb-60">
          <h2 class="section-title">{{ .title | markdownify }}</h2>
          {{ with .content}}<p>{{. | markdownify}}</p>{{end}}
          {{if .button.enable }}
          {{with .button }}
          <a href="{{ .link | absLangURL }}" class="btn btn-primary has-icon">{{.label}}
            <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                  fill="currentColor" /></svg></span>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-12">
        <div class="border-bottom"></div>
      </div>
    </div>
    {{ end }}
    {{ end }}
    <div class="row pt-60 pb-60">
      <div class="col-lg-4 col-md-6">
        <div class="pr-0 pr-lg-4">
          <a class="mb-25" href="{{ site.BaseURL }}">
            {{ with site.Params.logo }}
            <img class="img-fluid" src="{{ . | absURL }}" alt="{{ site.Title }}">
            {{ else }}{{ site.Title }}{{ end }}
          </a>
          <p>{{ site.Params.footer_content | markdownify }}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md col-sm-6">
        <div class="pl-0 pl-md-3 mt-5 mt-md-0">
          <h5 class="font-weight-600 mb-20">{{ i18n "quick_links"}}</h5>
          <ul class="list-unstyled footer-links">
            {{ range site.Menus.footer }}
            <li><a href="{{ .URL | absLangURL }}">{{.Name}}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md col-sm-6">
        <div class="pl-0 pl-md-3 mt-5 mt-md-0">
          <h5 class="font-weight-600 mb-20">{{i18n "social_links"}}</h5>
          <ul class="list-unstyled footer-links">
            {{ range site.Params.social }}
            <li><a href="{{ .link | safeURL }}">{{ .name }}</a></li>
            {{end }}
          </ul>
        </div>
      </div>
      {{ if site.Params.subscription.enable }}
      {{ with site.Params.subscription }}
      <div class="col-lg-4 col-md-6">
        <div class="pl-0 pl-lg-4 mt-5 mt-lg-0">
          <h5 class="font-weight-600">{{ i18n "subscribe"}}</h5>
          <form action="{{ .mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="needs-validation mt-30">
            <div class="input-group">
              <input type="email" class="form-control bg-gray" placeholder="Your email address" required>
              <div class="input-group-append ml-0">
                <button type="submit" class="btn btn-primary" name="subscribe"><svg width="31" height="16" viewBox="0 0 31 16"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M30.7071 8.70808C31.0976 8.31756 31.0976 7.68439 30.7071 7.29387L24.3431 0.929909C23.9526 0.539384 23.3195 0.539384 22.9289 0.929909C22.5384 1.32043 22.5384 1.9536 22.9289 2.34412L28.5858 8.00098L22.9289 13.6578C22.5384 14.0484 22.5384 14.6815 22.9289 15.072C23.3195 15.4626 23.9526 15.4626 24.3431 15.072L30.7071 8.70808ZM0 9.00098H30V7.00098H0V9.00098Z"
                      fill="white" /></svg></button>
              </div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="{{ .mailchimp_form_name }}" tabindex="-1">
            </div>
          </form>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="block border-top text-center content">{{site.Params.copyright | markdownify}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="shape-1 shape-xs bg-orange rounded-circle"></div>
  <div class="shape-2 shape-sm-2 bg-cyan rounded-circle"></div>
  <div class="shape-3 shape-sm bg-yellow rounded-circle"></div>
  <div class="shape-4 shape-xs-2 bg-cyan rounded-circle"></div>
  <div class="shape-5 shape-sm-2 bg-yellow rounded-circle"></div>
  <div class="shape-6 shape-sm-2 bg-orange rounded-circle"></div>
</footer>
<!-- end footer -->

<!-- strat scroll to top -->
<a href="#top" class="btn btn-primary scroll-to-top-btn smooth-scroll position-fixed"><svg
    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32">
    <path id="Layer" fill="currentColor"
      d="M7.2 19.2L15.2 11.2C15.68 10.71 16.43 10.68 16.96 11.08L17.08 11.2L25.08 19.2L23.2 21.08L16.14 14.02L9.08 21.08L7.2 19.2Z" />
    </svg></a>
<!-- end scroll to top -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>