{{ if .Site.Params.preloader.enable }}
{{ "<!-- preloader start -->" | safeHTML }}
<div class="preloader position-fixed d-flex align-items-center justify-content-center">
  <div class="block">
    <div class="loader-image mb-20">
      <img src="images/preloader.png" alt="">
    </div>
    <h2 class="loader-text text-uppercase">
      <span class="h3 font-weight-light mb-1">Welcome to</span>
      <span class="font-weight-bold">Copper</span>
    </h2>
  </div>
</div>
{{ "<!-- preloader end -->" | safeHTML }}
{{ end }}