{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- start of testimonials-carousel -->
{{ if $data.homepage.testimonial.enable }}
{{ with $data.homepage.testimonial }}
<section class="section-padding pt-0 testimonials-section has-shapes">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-30">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testimonials-carousel">
          {{ range .testimonial_item }}
          <div class="testimonials-item bg-white">
            <div class="block border rounded bg-white">
              <svg class="icon mb-15" width="25" height="20" viewBox="0 0 40 35" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M3.75001 35L13.75 35C15.8203 35 17.5 33.3203 17.5 31.25L17.5 21.25C17.5 19.1797 15.8203 17.5 13.75 17.5L7.50001 17.5L7.50001 12.5C7.50001 9.74219 9.74219 7.5 12.5 7.5L13.125 7.5C14.1641 7.5 15 6.66406 15 5.625L15 1.875C15 0.83594 14.1641 2.25865e-06 13.125 2.34949e-06L12.5 2.40413e-06C5.59375 3.00789e-06 5.05862e-06 5.59375 5.66238e-06 12.5L7.30156e-06 31.25C7.48255e-06 33.3203 1.6797 35 3.75001 35ZM26.25 35L36.25 35C38.3203 35 40 33.3203 40 31.25L40 21.25C40 19.1797 38.3203 17.5 36.25 17.5L30 17.5L30 12.5C30 9.74219 32.2422 7.5 35 7.5L35.625 7.5C36.6641 7.5 37.5 6.66406 37.5 5.625L37.5 1.875C37.5 0.835938 36.6641 2.91637e-07 35.625 3.82475e-07L35 4.37114e-07C28.0937 1.04088e-06 22.5 5.59375 22.5 12.5L22.5 31.25C22.5 33.3203 24.1797 35 26.25 35Z"
                  fill="currentColor" /></svg>
              <p class="h4 text-black-300 font-weight-light">{{ .content | markdownify }}</p>
              <img src="{{`images/testimonials/arrow.png` | absURL }}" alt="">
            </div>
            <div class="user-info d-flex align-items-center mt-30">
              <img class="d-inline rounded-circle mr-3" src="{{ .image | absURL }}" alt="">
              <div class="pt-1">
                <h5 class="font-weight-bold">{{ .name }}</h5>
                <p>{{ .designation | markdownify }}</p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ if .button.enable }}
      {{ with .button }}
      <div class="col-md-12">
        <div class="mt-50 text-center">
          <a href="{{ .link | absLangURL }}" class="btn btn-primary has-icon">{{ .label }}
            <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                  fill="currentColor" /></svg></span>
          </a>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="shape-1 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-2 shape-sm bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-3 shape-sm bg-tertiary rounded-circle d-none d-sm-block"></div>
  <div class="shape-4 shape-sm bg-secondary rounded-circle d-none d-sm-block"></div>
  <div class="shape-5 shape-xs bg-primary rounded-circle d-none d-sm-block"></div>
  <div class="shape-6 shape-xs-2 bg-tertiary rounded-circle d-none d-sm-block"></div>
</section>
{{ end }}
{{ end }}
<!-- end of testimonials-carousel -->