.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main :global(.container) {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

@media screen and (max-width: 576px) {
  .main :global(.container) {
    width: 88%;
    max-width: 1200px;
  }
}
