.videoButton {
  position: relative;
  background-color: var(--section-color-foreground);
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  margin: 4rem 0 0;
  border-radius: 1rem;
  border: 0;
  padding: 0;
  overflow: hidden;
}

/* button color overlay */
.videoButton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(from var(--section-color-highlight) r g b / 0.5);
  backdrop-filter: blur(0px) grayscale(1);
  transition: backdrop-filter 0.2s, background-color 0.2s;
}

.videoButton:has(button:hover)::after {
  background-color: rgb(from var(--section-color-highlight) r g b / 0.7);
  backdrop-filter: blur(5px) grayscale(1);
}

.videoButton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoButton button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--section-color-background);
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  overflow: hidden;
  text-indent: -9999px;
}

.videoButton button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 50%;
  height: 50%;
  background-color: var(--section-color-foreground);
  clip-path: polygon(20% 0%, 100% 50%, 20% 100%);
  z-index: 1;
}
