.studies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.study {
  display: flex;
  flex-direction: column;
}

.study h4 {
  color: inherit;
  font-size: 1.7rem;
  font-family: var(--wasmcloud-font-heading);
  font-weight: 500;
}

.study img :global(#alttext-image) {
  display: none;
}

.study :last-child {
  margin-top: auto;
}

@media screen and (min-width: 800px) {
  .studies {
    flex-direction: row;
  }
}
