.study h4 {
  color: inherit;
  font-size: 1.7rem;
  font-family: var(--wasmcloud-font-heading);
  font-weight: 500;
}

.study :last-child {
  margin-top: auto;
}

@media screen and (min-width: 800px) {
  .studies {
    flex-direction: row;
  }
}
