{{ define "main" }}

<!-- start of testimonials-section -->
<section class="section-padding testimonials-section pb-20" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-30">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
    <div class="testimonials-items row">
      {{ range .Params.testimonial_item }}
      <div class="col-lg-4 col-md-6 mb-30">
        <div class="testimonials-item bg-white">
          <div class="block border rounded bg-white">
            <svg class="icon mb-15" width="25" height="20" viewBox="0 0 40 35" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.75001 35L13.75 35C15.8203 35 17.5 33.3203 17.5 31.25L17.5 21.25C17.5 19.1797 15.8203 17.5 13.75 17.5L7.50001 17.5L7.50001 12.5C7.50001 9.74219 9.74219 7.5 12.5 7.5L13.125 7.5C14.1641 7.5 15 6.66406 15 5.625L15 1.875C15 0.83594 14.1641 2.25865e-06 13.125 2.34949e-06L12.5 2.40413e-06C5.59375 3.00789e-06 5.05862e-06 5.59375 5.66238e-06 12.5L7.30156e-06 31.25C7.48255e-06 33.3203 1.6797 35 3.75001 35ZM26.25 35L36.25 35C38.3203 35 40 33.3203 40 31.25L40 21.25C40 19.1797 38.3203 17.5 36.25 17.5L30 17.5L30 12.5C30 9.74219 32.2422 7.5 35 7.5L35.625 7.5C36.6641 7.5 37.5 6.66406 37.5 5.625L37.5 1.875C37.5 0.835938 36.6641 2.91637e-07 35.625 3.82475e-07L35 4.37114e-07C28.0937 1.04088e-06 22.5 5.59375 22.5 12.5L22.5 31.25C22.5 33.3203 24.1797 35 26.25 35Z"
                fill="currentColor" /></svg>
            <p class="h4 text-black-300 font-weight-light">{{ .content | markdownify }}</p>
            <img src="{{`images/testimonials/arrow.png` | absURL}}" alt="">
          </div>
          <div class="user-info d-flex align-items-center mt-30">
            <img class="d-inline rounded-circle mr-3" src="{{ .image | absURL }}" alt="{{.name}}">
            <div class="pt-1">
              <h5 class="font-weight-bold">{{ .name }}</h5>
              <p>{{ .designation | markdownify }}</p>
            </div>
          </div>
        </div>
        <!-- testimonials-item -->
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- end of testimonials-section -->

<!-- start of video-testimonials -->
{{if .Params.featured_testimonial.enable }}
{{with .Params.featured_testimonial }}
<section class="section-padding has-shapes bg-light-gray has-bg-brash bg-brash-top"
  style="background-image: url('{{`images/brushes/section-top.svg`| absURL}}')">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="has-video-popup">
          {{ if .video.enable }}
          {{ with .video }}
          <button type="button" class="video-play-btn" data-toggle="modal"
            data-src="{{ .video_embed_link | safeURL }}" data-target="#videoModal"><svg width="1.8em"
              height="1.8em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
              </svg></button>
            {{ end }}
            {{ end }}
          <img class="rounded img-fluid" src="{{ .image | absURL }}">
        </div>
      </div>
      <div class="col-lg-6 mt-5 mt-lg-0">
        <div class="pl-0 pl-lg-4">
          <h2 class="border-bottom pb-20 mb-20">{{ .quote | markdownify }}</h2>
          <p class="text-black-900">
            <span class="border-right pr-2 mr-2">{{ .name }}</span>
            <span>{{ .designation | markdownify }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- end of video-testimonials -->

{{ end }}