.content {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 2rem;
}

.content :global(ul) {
  margin-top: 3rem;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content :global(ul li) {
  padding: 0;
}

.content :global(ul li img) {
  display: inline-block;
  width: 1.875rem;
}

.content :global(ul li a) {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: var(--section-color-foreground);
  text-decoration: underline;
}

.content :global(ul li a:hover) {
  text-decoration: none;
}

.wednesday {
  position: relative;
  width: 100%;
  max-width: 520px;
  background-color: var(--section-color-background);
  padding: 4rem 1rem 2rem;
  border-radius: 2rem;
  overflow: hidden;
  background-image: url('/img/pages/home/get-involved/wednesday.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.wednesday h4 {
  color: var(--wasmcloud-color-brand-white);
  font-family: var(--ifm-heading-font-family);
  margin: 0;
  font-size: 3rem;
  line-height: 1.1;
}

.wednesday span {
  color: var(--wasmcloud-color-brand-yellow);
  font-family: var(--wasmcloud-font-hand);
  margin: 0;
  font-size: 2.7rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transform: rotate(-10deg);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin: 1rem auto 0;
  max-width: 500px;
}

.buttons a.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.8rem 1rem 0.5rem;
  background-color: var(--wasmcloud-color-brand-yellow);
  color: var(--wasmcloud-color-brand-space-blue);
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  width: 150px;
}

.buttons img {
  height: 26px;
}

@media screen and (min-width: 576px) {
  .buttons {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }
}

@media screen and (min-width: 996px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
