{{ define "main" }}

<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-8">
        <div class="content">{{ .Content }}</div>
        <div class="accordion">
          <button class="btn btn-primary has-icon mt-30 disable-toggle" data-toggle="collapse" data-target="#job-apply"
            aria-expanded="false">{{ i18n "apply"}}
            <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor" /></svg>
            </span>
          </button>
          <div id="job-apply" class="collapse disable-toogle">
            <form method="POST" class="row shadow p-2 p-sm-4 mt-40" action="{{site.Params.contact_form_action}}">
              <div class="form-group mb-20 col-md-6">
                <label class="text-black-200 h6 font-weight-600 mb-2" for="fname">{{i18n "first_name"}}*</label>
                <input class="form-control shadow-none" type="text" placeholder="Jack" id="fname" required>
              </div>
              <div class="form-group mb-20 col-md-6">
                <label class="text-black-200 h6 font-weight-600 mb-2" for="lname">{{ i18n "last_name"}}*</label>
                <input class="form-control shadow-none" type="text" placeholder="Barker" id="lname" required>
              </div>
              <div class="form-group mb-20 col-12">
                <label class="text-black-200 h6 font-weight-600 mb-2" for="email">{{ i18n "mail"}}*</label>
                <input class="form-control shadow-none" type="email" placeholder="jack@email.com" id="email" required>
              </div>
              <div class="form-group mb-20 col-12">
                <label class="text-black-200 h6 font-weight-600 mb-2" for="currentCompany">{{ i18n "company"}}</label>
                <input class="form-control shadow-none" type="text" placeholder="Squarespace" id="currentCompany">
              </div>
              <div class="form-group mb-20 col-12">
                <label class="text-black-200 h6 font-weight-600 mb-2" for="fileCV">{{i18n "cv"}}*</label>
                <input class="form-control shadow-none p-10" type="file" id="fileCV" required>
                <small class="font-weight-500">only doc, pdf or docx file allowed and file size will be less than 2MB</small>
              </div>
              <div class="form-group mb-20 col-12">
                <label class="text-black-200 h6 font-weight-600 mb-2" for="message">{{ i18n "message"}}</label>
                <textarea class="form-control shadow-none" name="comment" rows="3" id="message"></textarea>
              </div>
              <div class="form-group col-12">
                <button class="btn btn-primary w-100" type="submit">{{ i18n "submit"}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}