.grid {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  column-gap: 2rem;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
  gap: 1.25rem;
}

.grid.alignLast .gridItem > *:last-child {
  margin-top: auto;
}

.grid.center .gridItem {
  text-align: center;
  align-items: center;
}

.gridItem:nth-child(1) {
  grid-area: a;
}
.gridItem:nth-child(2) {
  grid-area: b;
}
.gridItem:nth-child(3) {
  grid-area: c;
}

.gridItem > * {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
  }
  .grid:has(.gridItem:nth-child(2)) {
    grid-template: 'a b' 1fr / 1fr 1fr;
  }
  .grid:has(.gridItem:nth-child(3)) {
    grid-template:
      'a a b b' 1fr
      '. c c .' 1fr / 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 997px) {
  .grid:has(.gridItem:nth-child(3)) {
    grid-template: 'a b c' 1fr / 1fr 1fr 1fr;
  }
}
