/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #008059;
  --ifm-color-primary-dark: #00C389;
  --ifm-color-primary-darker: #00C389;
  --ifm-color-primary-darkest: #00C389;
  --ifm-color-primary-light: #00C389;
  --ifm-color-primary-lighter: #00C389;
  --ifm-color-primary-lightest: #00C389;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 195, 137, 0.2);
  --ifm-menu-color-active: #155642;
  --ifm-font-color-base-inverse: #fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00C389;
  --ifm-color-primary-dark: #00C389;
  --ifm-color-primary-darker: #00C389;
  --ifm-color-primary-darkest: #00C389;
  --ifm-color-primary-light: #00C389;
  --ifm-color-primary-lighter: #00C389;
  --ifm-color-primary-lightest: #00C389;
  --docusaurus-highlighted-code-line-bg: rgba(0, 195, 137, 0.2);
  --ifm-menu-color-active: #00C389;
}


.button--frontpage {
    --ifm-button-background-color: var(--ifm-color-primary-light);
    --ifm-button-color: var(--ifm-button-border-color);
    --ifm-button-border-color: var(--ifm-font-color-base);
    --ifm-button-border-width: 2px;
  }

.button--frontpage:hover {
      --ifm-button-background-color: var(--ifm-button-border-color);
    }

.button--frontpage:hover,
    .button--frontpage:active,
    .button--frontpage.button--active {
      --ifm-button-color: var(--ifm-font-color-base-inverse);
    }
