/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  /* generalising spacings from infima into generic vars */
  --ifm-code-font-size: 95%;
  --ifm-spacing-xs: 0.25rem;
  --ifm-spacing-sm: 0.5rem;
  --ifm-spacing-md: 1rem;
  --ifm-spacing-lg: 2rem;
  --ifm-spacing-xl: 5rem;
}

/* You can override the default Infima variables here. */
html[data-theme='light'] {
  --ifm-color-primary: #008059;
  --ifm-color-primary-dark: #00c389;
  --ifm-color-primary-darker: #00c389;
  --ifm-color-primary-darkest: #00c389;
  --ifm-color-primary-light: #00c389;
  --ifm-color-primary-lighter: #00c389;
  --ifm-color-primary-lightest: #00c389;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-menu-color-active: #155642;
  --ifm-font-color-base-inverse: #fff;
  --ifm-background-color: #ffffff;
  --header-hero-background: linear-gradient(
    180deg,
    #768692 1.02%,
    #cfd5d9 60.75%,
    var(--ifm-background-color) 91.17%
  );
  --ifm-navbar-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 1), 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
  --ifm-toc-border-color: var(--ifm-font-color-base);
  --ifm-menu-color: var(--ifm-font-color-base);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-color-primary: #00c389;
  --ifm-color-primary-dark: #00c389;
  --ifm-color-primary-darker: #00c389;
  --ifm-color-primary-darkest: #00c389;
  --ifm-color-primary-light: #00c389;
  --ifm-color-primary-lighter: #00c389;
  --ifm-color-primary-lightest: #0c2027;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-menu-color-active: #00c389;
  --ifm-background-color: #000000;
  --ifm-footer-background-color: #0c2027;
  --ifm-font-color-base-inverse: #000;
  /* --header-hero-background: linear-gradient(180deg, #869097 1.02%, #5D5659 38.14%, #322F32 62.88%, #282729 72.16%, var(--ifm-background-color) 100%); */
  --header-hero-background: linear-gradient(180deg, #152435 1.02%, #13202f 50.51%, #000 100%);
  --ifm-navbar-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5), 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  --docsearch-modal-background: #000;
}

.footer--dark {
  background-color: #081317; /* the theme sucks for this */
}

.navbar {
  background-color: var(--ifm-background-color);
}

.homepage {
  background-color: var(--ifm-background-color);
}
