.title {
  color: var(--ifm-heading-color);
  font-size: 3rem;
  margin: 2rem 0;
}

.description {
  font-size: 1.2rem;
  margin: 4rem 0;
  color: var(--ifm-heading-color);
  opacity: 0.8;
}

.description a {
  color: inherit;
  text-decoration: underline;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--ifm-spacing-lg);
  column-gap: var(--ifm-spacing-md);
  margin-bottom: var(--ifm-spacing-xl);
}
.items > * {
  grid-column: span 2;
}

.countdown {
  margin: 0 auto;
  border: 1px solid var(--ifm-button-border-color);
  border-radius: var(--ifm-global-radius);
  font-size: 0.8em;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.7rem;
}

.countdown * + * {
  margin-left: 1.5rem;
  position: relative;
}

.countdown * + *::before {
  color: var(--ifm-font-color-base);
  pointer-events: none;
  content: '•';
  position: absolute;
  left: -0.75rem;
  transform: translateX(-50%);
}

.countdown a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.countdown svg {
  height: 18px;
  width: 18px;
  color: inherit;
}

.paginator :global(.pagination-nav__link) {
  padding: 0;
  border: none;
}

.sidebar {
  display: contents;
}

.sidebar > * {
  margin-bottom: var(--ifm-spacing-xl);
}

@media screen and (min-width: 576px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .items:not(:global(.has-sidebar)) > * {
    grid-column: span 1;
  }
}

@media screen and (min-width: 997px) {
  .header {
    margin: var(--ifm-spacing-xl) 0;
  }

  .title {
    font-size: 4rem;
    margin: 5rem 0 6rem;
  }

  .description {
    font-size: 1.2rem;
    margin: 4rem 0;
  }
}
