{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- start of services-section -->
<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
    <div class="row no-gutters">
      {{ range .Params.services }}
      <div class="col-lg-4 col-md-6 service-box">
        <div class="block p-4 p-xl-5 text-center">
          <div class="service-icon text-center mx-auto rounded-circle">
            <i class="{{.icon}}"></i>
          </div>
          <h3 class="font-weight-600 mt-20 mb-20">{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="border-bottom border-md-0"></div>
      </div>
    </div>
  </div>
</section>
<!-- end of services-section -->

{{partial "testimonial.html" . }}

{{ end }}