:root {
  --section-heading-font-family: var(--wasmcloud-font-heading);
  --section-heading-font-size: 2.375rem;
}

.heading {
  font-family: var(--section-heading-font-family);
  color: var(--section-color-foreground);
  font-size: var(--section-heading-font-size);
  line-height: 1.16em;
}
