$font-primary: 'Quicksand', sans-serif;

$h1: 46px;
$h1-md: 38px;
$h2: 36px;
$h2-md: 28px;
$h3: 24px;
$h3-md: 22px;
$h4: 20px;
$h5: 18px;
$h6: 15px;

$white:#ffffff;
$black:#000000;
$dark:#253746;
$light-gray:#D9E1E2;
$gray:#CECECE;
$color-primary:#00C389;
$color-secondary:#FFB600;
$color-tertiary:#002E5D;

$black-100:#111111;
$black-200:#222222;
$black-300:#333333;
$black-400:#444444;
$black-500:#555555;
$black-600:#666666;
$black-700:#777777;
$black-800:#888888;
$black-900:#999999;