.scroller {
  --time: 10s;
  --gap: 1rem;
  --height: 84px;

  width: 100%;
  overflow: hidden;
}

.row {
  margin-bottom: var(--gap);
  height: var(--height);
  overflow: hidden;
}

.loop {
  position: relative;
  white-space: nowrap;
  width: max-content;
  transform: translateX(100%);
  animation: loop calc(var(--time) * var(--count)) linear 0s infinite forwards;
}

[data-reverse] .loop {
  animation-direction: reverse;
}

.loop img {
  display: inline-block;
  padding-right: var(--gap);
}

.inner {
  position: absolute;
  white-space: nowrap;
  width: 100%;
  top: 0;
}

.inner[data-first] {
  right: 100%;
}

.inner[data-last] {
  left: 100%;
}

.logo {
  height: var(--height);
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
