.graphic {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 7rem 0;
}

.content {
  text-align: center;
}

.callout {
  position: absolute;
  transform: rotate(-4deg);
}

.callout span {
  font-size: clamp(1.75rem, 7vw, 2.75rem);
  font-family: var(--wasmcloud-font-hand);
  color: var(--section-color-highlight);
}

.callout img {
  position: absolute;
  height: auto;
}

.callout[data-before] {
  left: 5%;
  bottom: calc(100% + 2rem);
}
.callout[data-before] img {
  left: calc(100% + 1rem);
  top: 50%;
}

.callout[data-after] {
  right: 5%;
  top: calc(100% + 2rem);
}

.callout[data-after] img {
  right: calc(100% + 1rem);
  top: -50%;
}

@media screen and (min-width: 576px) {
  .graphic {
    padding: 0;
  }

  .graphic::after {
    pointer-events: none;
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
        to right,
        var(--section-color-background) 0%,
        transparent 30%,
        transparent 70%,
        var(--section-color-background) 100%
      ),
      linear-gradient(
        to right,
        var(--section-color-background) 0%,
        transparent 12%,
        transparent 88%,
        var(--section-color-background) 100%
      );
    z-index: 1;
  }
}
