{{ define "main" }}

<!-- checking blog -->
{{ if or (or (eq .Section "post") (eq .Section "blog")) (or (eq .Section "categories") (eq .Section "tags") )}}

<section class="section-padding pb-40" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
    <div class="row">
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-md-6 mb-40">
        <div class="card border-0 h-100">
          <a class="d-flex flex-fill align-items-center" href="{{.Permalink}}"><img class="card-img-top rounded" src="{{ .Params.Image | absURL }}" alt="blog-image"></a>
          <div class="p-25 pb-0">
            <div class="post-category position-relative mb-15">{{ range $i,$p:= .Params.Categories }}{{if ne $i 0}},{{end}}<a
              href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" class="text-black-200 font-weight-600 ml-1">{{ . | humanize }} </a>
              {{ end }}
            </div>
            <a class="h4 font-weight-bold d-block mb-15" href="{{.Permalink}}">{{ .Title }}</a>
            <div class="post-meta font-weight-600 mb-15">{{.PublishDate.Format "02 Jan, 2006"}}<span class="mx-2">|</span>{{ .Page.ReadingTime }} {{ i18n "minute_read" }}
            </div>
            <p>{{ .Summary }}</p>
          </div>
        </div>
        <!-- blog-post item -->
      </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}
<section class="section-padding" data-aos="fade-in" data-aos-delay="150">
  <div class="container">
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-10 mt-40">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}