<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <title>Copper - Software and SAAS landing template</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->    
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="plugins/aos/aos.css">

    <!-- Main Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

</head>
<body id="top" data-spy="scroll" data-target="#navbar-spy" class="position-relative">

    <!-- start of preloader -->
    <div class="preloader position-fixed d-flex align-items-center justify-content-center">
        <div class="block">
            <div class="loader-image mb-20">
                <img src="images/preloader.png" alt="">
            </div>
            <h2 class="loader-text text-uppercase">
                <span class="h3 font-weight-light mb-1">Welcome to</span>
                <span class="font-weight-bold">Copper</span>
            </h2>
        </div>
    </div>
    <!-- end of preloader -->
  
<!-- start of header -->
<header class="header-nav position-relative bg-light-gray">
    <div class="container">
        <nav class="navbar navbar-expand-xl navbar-light px-0">
            <a class="navbar-brand p-0" href="index.html"><img class="img-fluid" src="images/logo.png" alt="Copper"></a>
            <!-- logo -->

            <button class="navbar-toggler bg-white rounded-0 p-0" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navlinks" aria-expanded="false" aria-label="Toggle navigation">
                <svg class="nav-toggle-icon" viewBox="0 0 100 100" width="40" onclick="this.classList.toggle('active')"><path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" /><path class="line middle" d="m 70,50 h -40" /><path class="line bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" /></svg>
            </button>
            <!-- mobile-nav control button -->
            
            <div class="collapse navbar-collapse" id="navlinks">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item @@index">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item @@about">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item @@service">
                        <a class="nav-link" href="services.html">Service</a>
                    </li>
                    <li class="nav-item @@team">
                        <a class="nav-link" href="team.html">Team</a>
                    </li>
                    <li class="nav-item dropdown @@pricing">
                        <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-1">Pricing</span>
                            <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item @@pricingOne" href="pricing.html">Pricing 01</a></li>
                            <li><a class="dropdown-item @@pricingTwo" href="pricing-2.html">Pricing 02</a></li>
                        </ul>
                    </li>
                    <li class="nav-item @@contact">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-1">Pages</span>
                            <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item @@howItWorks" href="how-it-works.html">How It Works</a></li>
                            <li><a class="dropdown-item @@testimonials" href="testimonials.html">Testimonials</a></li>
                            <li class="sub-dropdown @@career">
                                <a class="dropdown-item dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Career</span>
                                    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
                                </a>
                                <ul class="dropdown-submenu">
                                    <li><a class="dropdown-item @@careerPage" href="career.html">Career</a></li>
                                    <li><a class="dropdown-item @@jobDetails" href="job-details.html">Job Details</a></li>
                                </ul>
                            </li>
                            <li class="sub-dropdown active">
                                <a class="dropdown-item dropdown-toggle d-flex justify-content-between align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span>Blogs</span>
                                    <svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.06L7.94 0L4.5 3.44L1.06 0L0 1.06L4.5 5.56L9 1.06Z" fill="currentColor"/></svg>
                                </a>
                                <ul class="dropdown-submenu">
                                    <li><a class="dropdown-item active" href="blog.html">Blog</a></li>
                                    <li><a class="dropdown-item activeDetails" href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item @@terms" href="terms.html">Terms & Condition</a></li>
                            <li><a class="dropdown-item @@privacy" href="privacy.html">Privacy Policy</a></li>
                            <li><a class="dropdown-item @@faq" href="faq.html">FAQ</a></li>
                            <li><a class="dropdown-item @@changelog" href="changelog.html">Changelog</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="navbar-button">
                    <button class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
                    <button class="btn btn-sm btn-link pr-xl-0" data-toggle="modal" data-target="#signin-modal">Log in<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/></svg></button>
                </div>
            </div>
            <!-- nav links -->
        </nav>
    </div>
</header>
<!-- end of header -->

<!-- signup-modal -->
<div class="modal fade rounded" id="signup-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">Sign up now</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-3 p-sm-4">
                <form method="POST" class="needs-validation row" novalidate>
                    <div class="form-group mb-20 col-md-6">
                        <label class="text-black-200 h6 font-weight-600 mb-2" for="fname">First Name*</label>
                        <input class="form-control shadow-none" type="text" placeholder="Jack" id="fname" required>
                        <p class="font-weight-bold invalid-feedback">Your first name is required!</p>
                    </div>
                    <div class="form-group mb-20 col-md-6">
                        <label class="text-black-200 h6 font-weight-600 mb-2" for="lname">Last Name*</label>
                        <input class="form-control shadow-none" type="text" placeholder="Barker" id="lname" required>
                        <p class="font-weight-bold invalid-feedback">Your last name is required!</p>
                    </div>
                    <div class="form-group mb-20 col-12">
                        <label class="text-black-200 h6 font-weight-600 mb-2" for="email2">Email Address*</label>
                        <input class="form-control shadow-none" type="email" placeholder="jack@email.com" id="email2" required>
                        <p class="font-weight-bold invalid-feedback">Your email is required!</p>
                    </div>
                    <div class="form-group mb-20 col-12">
                        <label class="text-black-200 h6 font-weight-600 mb-2" for="password">Password*</label>
                        <input class="form-control shadow-none" type="password" id="password" required>
                        <p class="font-weight-bold invalid-feedback">Your password is required!</p>
                    </div>
                    <div class="form-group mb-20 col-12">
                        <label class="text-black-200 h6 font-weight-600 mb-2" for="repassword">Retype Password*</label>
                        <input class="form-control shadow-none" type="password" id="repassword" required>
                        <p class="font-weight-bold invalid-feedback">Please retype your password.</p>
                    </div>
                    <div class="form-group col-12">
                        <button class="btn btn-primary w-100" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- signup-modal -->

<!-- login-modal -->
<div class="modal fade rounded" id="signin-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable mx-auto" style="max-width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">Welcome back</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-3 p-sm-4">
                <form method="POST" class="needs-validation row" novalidate>
                    <div class="form-group mb-20 col-12">
                        <label class="text-black-200 h6 font-weight-600 mb-2" for="email">Email Address*</label>
                        <input class="form-control shadow-none" type="email" id="email" required>
                        <p class="font-weight-bold invalid-feedback">Your email is required!</p>
                    </div>
                    <div class="form-group mb-20 col-12">
                        <label class="text-black-200 h6 font-weight-600 mb-2" for="passwordSignIn">Password*</label>
                        <input class="form-control shadow-none" type="password" id="passwordSignIn" required>
                        <p class="font-weight-bold invalid-feedback">Your password is required!</p>
                    </div>
                    <div class="form-group col-12">
                        <button class="btn btn-primary w-100" type="submit">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- login-modal -->

<!-- start of page-header -->
<section class="page-header bg-light-gray has-shapes has-bg-brash bg-brash-bottom" style="background-image:url(images/brushes/banner.svg)">
    <div class="container h-100">
        <div class="row d-flex align-items-center h-100">
            <div class="col-md-12 text-center">
                <h2 class="h1 font-weight-bold">Blog</h2>
                <nav class="mt-15" aria-label="breadcrumb">
                    <ol class="breadcrumb font-weight-bold bg-transparent p-0 justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html" class="text-black-300">Home</a></li>
                        <li class="breadcrumb-item text-primary" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="shape-1 bg-secondary shape-xs rounded-circle"></div>
    <div class="shape-2 bg-primary shape-xs-2 rounded-circle"></div>
    <div class="shape-3 bg-primary shape-sm-2 rounded-circle"></div>
    <div class="shape-4 bg-tertiary shape-xs rounded-circle"></div>
    <div class="shape-5 bg-tertiary shape-xs rounded-circle"></div>
    <div class="shape-6 bg-primary shape-sm rounded-circle"></div>
    <div class="shape-7 bg-primary shape-xs-2 rounded-circle"></div>
    <div class="shape-8 bg-secondary shape-xs rounded-circle"></div>
</section>
<!-- end of page-header -->

<!-- start of blog-section -->
<section class="section-padding pb-40" data-aos="fade-in" data-aos-delay="150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 text-center mb-40">
                <h2 class="section-title">Find A <strong>Source Of Knowledge</strong></h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/01.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Lifestyle</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/02.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Technology</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/03.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Lifestyle</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/04.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Lifestyle</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/05.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Technology</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
            <div class="col-lg-4 col-md-6 mb-40">
                <div class="card border-0 h-100">
                    <a class="d-flex flex-fill align-items-center" href="blog-details.html"><img class="card-img-top rounded" src="images/blogs/06.jpg" alt="blog-image"></a>
                    <div class="p-25 pb-0">
                        <div class="post-category position-relative mb-15">
                            <a class="text-black-200 font-weight-600" href="#!">Lifestyle</a>
                        </div>
                        <a class="h4 font-weight-bold d-block mb-15" href="blog-details.html">Your ‘Surge Capacity’ Is Depleted It’s Why You Feel Awful to The Society</a>
                        <div class="post-meta font-weight-600 mb-15">
                            21 Jan, 2020<span class="mx-2">|</span>10 Mins Read
                        </div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing Pretium, purus eu nec vulputate vel habitant</p>
                    </div>
                </div>
                <!-- blog-post item -->
            </div>
        </div>
    </div>
</section>
<!-- end of blog-section -->

<!-- start footer -->
<footer class="bg-light-gray has-shapes has-bg-brash bg-brash-top " style="background-image: url(images/brushes/footer.svg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-12">
                <div class="text-center pb-60">
                    <h2 class="section-title">Join 75,000+ growing business That <strong>Use Copper To Their Brand</strong></h2>
                    <a href="contact.html" class="btn btn-primary has-icon">Get Started With Us
                        <span class="icon"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z" fill="currentColor"/></svg></span>
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="border-bottom"></div>
            </div>
        </div>
        <div class="row pt-60 pb-60">
            <div class="col-lg-4 col-md-6">
                <div class="pr-0 pr-lg-4">
                    <img class="mb-25" src="images/logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore dolore magna aliquyam eratnonumy onsetetur</p>
                </div>
            </div>
            <div class="col-lg-2 col-md col-sm-6">
                <div class="pl-0 pl-md-3 mt-5 mt-md-0">
                    <h5 class="font-weight-600 mb-20">Quick Links</h5>
                    <ul class="list-unstyled footer-links">
                        <li><a href="about.html">About</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md col-sm-6">
                <div class="pl-0 pl-md-3 mt-5 mt-md-0">
                    <h5 class="font-weight-600 mb-20">Social Links</h5>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#!">Facebook</a></li>
                        <li><a href="#!">Instagram</a></li>
                        <li><a href="#!">Twitter</a></li>
                        <li><a href="#!">Linkedin</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pl-0 pl-lg-4 mt-5 mt-lg-0">
                    <h5 class="font-weight-600">Lets Subscribe Your Email</h5>
                    <form action="" method="post" class="needs-validation mt-30" novalidate>
                        <div class="input-group">
                            <input type="email" class="form-control bg-gray" placeholder="Your email address" required>
                            <div class="input-group-append ml-0">
                                <button type="submit" class="btn btn-primary"><svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.7071 8.70808C31.0976 8.31756 31.0976 7.68439 30.7071 7.29387L24.3431 0.929909C23.9526 0.539384 23.3195 0.539384 22.9289 0.929909C22.5384 1.32043 22.5384 1.9536 22.9289 2.34412L28.5858 8.00098L22.9289 13.6578C22.5384 14.0484 22.5384 14.6815 22.9289 15.072C23.3195 15.4626 23.9526 15.4626 24.3431 15.072L30.7071 8.70808ZM0 9.00098H30V7.00098H0V9.00098Z" fill="white"/></svg></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="block border-top text-center content">
                        Copyright &copy; 2020 Designed & Developed by <a href="https://themefisher.com/">Themefisher</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-1 shape-xs bg-primary rounded-circle"></div>
    <div class="shape-2 shape-sm-2 bg-tertiary rounded-circle"></div>
    <div class="shape-3 shape-sm bg-secondary rounded-circle"></div>
    <div class="shape-4 shape-xs-2 bg-tertiary rounded-circle"></div>
    <div class="shape-5 shape-sm-2 bg-secondary rounded-circle"></div>
    <div class="shape-6 shape-sm-2 bg-primary rounded-circle"></div>
</footer>
<!-- end footer -->

<!-- start of videoModal -->
<div class="modal fade rounded" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0 bg-transparent">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="showVideo"  allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of videoModal -->

<!-- strat scroll to top -->
<a href="#top" class="btn btn-primary scroll-to-top-btn smooth-scroll position-fixed"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"><path id="Layer" fill="currentColor" d="M7.2 19.2L15.2 11.2C15.68 10.71 16.43 10.68 16.96 11.08L17.08 11.2L25.08 19.2L23.2 21.08L16.14 14.02L9.08 21.08L7.2 19.2Z"/></svg></a>
<!-- end scroll to top -->

<!-- Plugins Needed for the Project -->
<script src="plugins/jQuery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/shuffle/shuffle.min.js"></script>
<script src="plugins/aos/aos.js"></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>
</html>