.newsSection {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 200px) {
        gap: 15px;
    }
    @media screen and (min-width: 768px) {
        gap: 60px;
    }
    align-self: stretch;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    border-top: 3px solid var(--ifm-font-color-base);
    border-bottom: 3px solid var(--ifm-font-color-base);
    background: rgba(84, 150, 134, 0.50);

}

.newsSvg {
    margin: 60px 30px 0px;
    max-width: 250px;
    @media screen and (min-width: 768px) {
        margin: 60px 30px;
    }
}

.newsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (min-width: 200px) {
        padding: 30px;
        & h2 {
            font-size: 1.5rem;
        }
    }
    @media screen and (min-width: 576px) {
        padding: 60px 30px;
        & h2 {
            font-size: 2rem;
        }
    }
    max-width: 550px;
}

.ctaButton {
    margin: 2rem 0;
}

/* .newsContent { */
/*      */
/* } */
