.newsSection {
    display: flex;
    padding: 45px 0px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;

    border-top: 3px solid var(--ifm-font-color-base);
    border-bottom: 3px solid var(--ifm-font-color-base);
    background: rgba(84, 150, 134, 0.50);

}

.newsSvg {
    max-width: 250px;
}

.newsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    max-width: 550px;
}

.newsContent {
    
}
