.newsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  border-top: 3px solid var(--ifm-font-color-base);
  border-bottom: 3px solid var(--ifm-font-color-base);
  background: rgba(84, 150, 134, 0.5);
}

.newsRow {
  display: flex;
  align-items: center;
  padding: var(--ifm-spacing-xs);
  flex-direction: column;
  gap: 0;
}

.newsSvg {
  max-width: 250px;
}

.newsText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.button {
  --ifm-button-background-color: var(--ifm-color-primary-lightest);
  --ifm-button-color: var(--ifm-button-border-color);
  --ifm-button-border-color: var(--ifm-font-color-base);
  --ifm-button-border-width: 2px;
  margin-top: var(--ifm-spacing-lg);
}

.button:hover {
  --ifm-button-background-color: var(--ifm-button-border-color);
}

.button:hover,
.button:active,
.button.button--active {
  --ifm-button-color: var(--ifm-font-color-base-inverse);
}

@media screen and (min-width: 200px) {
  .newsRow {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .newsSvg {
    margin: var(--ifm-spacing-lg) var(--ifm-spacing-md);
  }

  .newsText {
    & h2 {
      font-size: 1.5rem;
    }
  }
}
@media screen and (min-width: 576px) {
  .newsText {
    padding: 3rem 1.5rem;
    & h2 {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 996px) {
  .newsContainer {
    flex-direction: row;
  }

  .newsRow {
    gap: var(--ifm-spacing-md);
    flex-direction: row;
  }

  .newsSvg {
    margin: var(--ifm-spacing-xl) var(--ifm-spacing-lg);
  }
  .newsText {
    & h2 {
      font-size: 1.5rem;
    }
  }
}
