.section {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 1.6em;
  width: 100%;
  --section-color-foreground: var(--wasmcloud-color-brand-space-blue);
  --section-color-background: var(--wasmcloud-color-brand-gainsboro);
  --section-color-highlight: var(--wasmcloud-color-brand-green);

  --section-button-background: var(--wasmcloud-color-brand-green);
  --section-button-color: var(--wasmcloud-color-brand-space-blue);
  --section-button-hover-background: oklch(
    from var(--section-button-background) calc(l * 0.9) c h / 1
  );
  --section-button-hover-color: var(--section-button-color);
  background-color: var(--section-color-background);
  color: var(--section-color-foreground);
}

.section *::selection {
  background-color: var(--section-color-highlight);
  color: var(--section-color-background);
}

.section :global(a:not(.button)) {
  color: var(--section-color-highlight);
}

.section :global(.button) {
  background-color: var(--section-button-background);
  border-color: var(--section-button-background);
  color: var(--section-button-color);
}

.section :global(.button:hover) {
  background-color: var(--section-button-hover-background);
  border-color: var(--section-button-hover-background);
  color: var(--section-button-hover-color);
}

.section :global(.button.button--outline) {
  background-color: var(--section-color-background);
  border-color: var(--section-color-foreground);
  color: var(--section-color-foreground);
}

.section :global(.button.button--outline:hover) {
  background-color: var(--section-button-background);
  border-color: var(--section-button-background);
  color: var(--section-button-hover-color);
}

.section:global(.section--light-gray) {
  --section-color-foreground: var(--wasmcloud-color-brand-space-blue);
  --section-color-background: var(--wasmcloud-color-brand-gainsboro);
  --section-color-highlight: #016f4e;
  --section-button-background: var(--wasmcloud-color-brand-green);
  --section-button-color: var(--wasmcloud-color-brand-space-blue);
}
.section:global(.section--dark-gray) {
  --section-color-foreground: var(--wasmcloud-color-brand-gainsboro);
  --section-color-background: var(--wasmcloud-color-brand-gunmetal);
  --section-color-highlight: var(--wasmcloud-color-brand-green);
  --section-button-background: var(--wasmcloud-color-brand-green);
  --section-button-color: var(--wasmcloud-color-brand-space-blue);
}
.section:global(.section--green) {
  --section-color-foreground: var(--wasmcloud-color-brand-space-blue);
  --section-color-background: var(--wasmcloud-color-brand-green);
  --section-color-highlight: var(--wasmcloud-color-brand-space-blue-light);
  --section-button-background: var(--wasmcloud-color-brand-space-blue);
  --section-button-color: var(--wasmcloud-color-brand-green);
}
.section:global(.section--green) a {
  color: var(--section-color-foreground);
}
.section:global(.section--space-blue) {
  --section-color-foreground: var(--wasmcloud-color-brand-gainsboro);
  --section-color-background: var(--wasmcloud-color-brand-space-blue);
  --section-color-highlight: var(--wasmcloud-color-brand-yellow);
  --section-button-background: var(--wasmcloud-color-brand-yellow);
  --section-button-color: var(--wasmcloud-color-brand-space-blue);
}
.section:global(.section--yellow) {
  --section-color-foreground: var(--wasmcloud-color-brand-space-blue);
  --section-color-background: var(--wasmcloud-color-brand-yellow);
  --section-color-highlight: var(--wasmcloud-color-brand-green);
  --section-button-background: var(--wasmcloud-color-brand-green);
  --section-button-color: var(--wasmcloud-color-brand-space-blue);
}
