.section {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  line-height: 1.6em;
  width: 100%;
  --section-color-foreground: var(--wasmcloud-color-brand-space-blue);
  --section-color-background: var(--wasmcloud-color-brand-gainsboro);
  --section-color-highlight: var(--wasmcloud-color-brand-green);
  background-color: var(--section-color-background);
  color: var(--section-color-foreground);
}

.section *::selection {
  background-color: var(--section-color-highlight);
  color: var(--section-color-background);
}

.section :global(a:not(.button)) {
  color: var(--section-color-highlight);
}

.section:global(.section--light-gray) {
  --section-color-foreground: var(--wasmcloud-color-brand-space-blue);
  --section-color-background: var(--wasmcloud-color-brand-white);
  --section-color-highlight: #009065;
}
.section:global(.section--dark-gray) {
  --section-color-foreground: var(--wasmcloud-color-brand-gainsboro);
  --section-color-background: var(--wasmcloud-color-brand-gunmetal);
  --section-color-highlight: var(--wasmcloud-color-brand-green);
}
.section:global(.section--green) {
  --section-color-foreground: var(--wasmcloud-color-brand-space-blue);
  --section-color-background: var(--wasmcloud-color-brand-green);
  --section-color-highlight: var(--wasmcloud-color-brand-space-blue-light);
}
.section:global(.section--green) a {
  color: var(--section-color-foreground);
}
.section:global(.section--space-blue) {
  --section-color-foreground: var(--wasmcloud-color-brand-gainsboro);
  --section-color-background: var(--wasmcloud-color-brand-space-blue);
  --section-color-highlight: var(--wasmcloud-color-brand-yellow);
}
.section:global(.section--yellow) {
  --section-color-foreground: var(--wasmcloud-color-brand-space-blue);
  --section-color-background: var(--wasmcloud-color-brand-yellow);
  --section-color-highlight: var(--wasmcloud-color-brand-green);
}
