.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  position: relative;
  background-color: var(--section-color-foreground);
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 16 / 9;
  margin: 4rem 0 0;
  border-radius: 2rem;
}

.questionMarks {
  position: absolute;
  top: -30%;
  left: -3%;
  width: 14%;
  height: auto;
  transform: rotate(-10deg);
}

.arrow {
  position: absolute;
  bottom: -27%;
  right: 35%;
  width: 15%;
  height: auto;
  transform: rotate(50deg);
}

.callout {
  font-family: var(--wasmcloud-font-hand);
  color: var(--section-color-highlight);
  font-size: clamp(1.5rem, 5vw, 1.75rem);
  line-height: 1;
  transform: rotate(10deg);
  position: absolute;
  text-align: right;
  bottom: -2.5em;
  right: 13%;
}

@media screen and (min-width: 800px) {
  .questionMarks {
    top: -20%;
    left: -20%;
    width: 21%;
  }
  .arrow {
    right: -3%;
    bottom: -15%;
    transform: rotate(0deg);
  }
  .callout {
    bottom: -2%;
    right: -25%;
  }
}

@media screen and (min-width: 997px) {
  .arrow {
    width: 23%;
    right: -10%;
    bottom: -25%;
  }
  .callout {
    right: -42%;
    bottom: -7%;
    font-size: 2.6875rem;
  }
}
