.footer__title {
  font-family: var(--ifm-heading-font-family);
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.footer__item {
  font-size: 0.875rem;
  line-height: 1.5;
}

.footer__item a svg {
  height: 0.625rem;
  width: 0.625rem;
}

.footer__copyright {
  font-size: 0.75rem;
}
