/* Sidebar */

.sidebar-divider {
  border-top: 1px;
  display: block;
  margin: 1.25rem 0rem 0rem 0rem;
}

html[data-theme='dark'] .sidebar-divider {
  border-top: 1px solid var(--ifm-color-gray-800);
}

.sidebar-title {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--ifm-color-gray-600);
}

.sidebar-submenu {
  padding-left: 15px;
}

html[data-theme='dark'] .sidebar-divider {
  color: var(--ifm-color-gray-200);
}

@media only screen and (max-width: 998px) {
  .sidebar-title {
    margin-left: 1rem;
  }
}

/* end sidebar */