.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  width: 100%;
}

.content.alignCenter {
  align-items: center;
  text-align: center;
}

.content + .content {
  margin-top: 2rem;
}

.main {
  width: 100%;
  grid-area: main;
}

.aside {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  grid-area: aside;
}

@media screen and (min-width: 800px) {
  .content:has(.aside) {
    display: grid;
    grid-template: 'main aside' auto / 2fr 1fr;
  }
}
